{% extends 'app/index.html' %}
{% load static  %}
{% load mptt_tags %}
{% block title %}Каталог{% endblock %}

{% block breadcrumb %}
<!--    <nav aria-label="breadcrumb">-->
<!--        <ul class="breadcrumb">-->
<!--        <li class="breadcrumb-item"><a href="/">Главная</a></li>-->
<!--        {% for node in ancestors %}-->
<!--        <li class="breadcrumb-item"><a href="{{node.get_absolute_url}}">{{node.name}}</a></li>-->
<!--            {% endfor %}-->
<!--        <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>-->
<!--        </ul>-->
<!--    </nav>-->
{% endblock %}

{% block content %}
<div class="container category-product-list">
    <ul>
        {% recursetree object_list %}
        {% if node.level == 0 %}
        <h1 class="h1-title text-center my-5">{{node.title}}</h1>
        {% endif %}

        <li class="{% if node.level == 1 %}col-xl-3 col-md-6 col-sm-12 mb-5 {% endif %}">
            {% if node.level == 1 %}
             <div class="card-wrapper card">
            <a href="{{node.slug}}">
                <div class="card-img img-wrapper p-3">
                    <img src="/media/{{ node.image }}" alt="{{node.alt}}"  class="img-fluid">
                </div>
                <div class="card-body text-center d-flex justify-content-center align-items-center fs-5 fw-semibold p-2
          lh-sm">
                    {{node.title}}
                </div>
            </a>
                </div>
            {% endif %}

                <ul class="row p-0 children">
                    {{ children }}
                </ul>

        </li>


        {% endrecursetree %}
    </ul>


</div>

{% endblock %}