{% extends 'app/index.html' %}
{% load static  %}
{% load mptt_tags %}
{% block title %}Каталог{% endblock %}


{% block content %}

<div class="container category-product-list">
    <h1 class="h1 h1-title text-center my-4">Каталог</h1>
    <ul>
        {% recursetree object_list %}
        {% if node.is_root_node %}
        <h2 class="h2-title mt-4 mb-5">{{node.title}}</h2>
        {% endif %}
            <li class="{% if node.is_leaf_node %}col-xl-3 col-md-6 col-sm-12 mb-5{% endif %}">
                <div class="card-wrapper {% if node.is_leaf_node %}card{% endif %}">
            <a href="{{node.slug}}">
                {% if node.is_leaf_node %}
                <div class="card-img img-wrapper p-3">
                    <img src="/media/{{ node.image }}" alt="{{node.alt}}"  class="img-fluid">
                </div>
                <div class="card-body text-center d-flex justify-content-center align-items-center fs-5 fw-semibold p-2
          lh-sm">
                    {{node.title}}
                </div>
                {% endif %}
            </a>
                </div>
                <div>{{children.get_absolute_url}}</div>
            {% if not node.is_leaf_node %}
                <ul class="row p-0 children">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

</div>


{% endblock %}