{% extends 'app/index.html' %}
{% load static %}
{% block title %}Каталог - {{title}}{% endblock %}


{% block content %}

<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous">
</script>
{% csrf_token %}
<script>
    $( document ).ready(function() {

        function getCookie(с_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start !== -1){
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end === -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        let input = document.querySelector('input[name="csrfmiddlewaretoken"]');
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': input.value,
            }
        });

        let products = $("#products");
        let filter_manufacturer = $("#filter_manufacturer");
        let filter_countries = $("#filter_countries");
        let manufacturer_set = new Set();
        let countries_set = new Set();
        let page = localStorage.getItem("page") || 1;
        let min_price = localStorage.getItem("min_price") || $("#min_price").val();
        let max_price = localStorage.getItem("max_price") || $("#max_price").val();
        let manufacturer = localStorage.getItem("manufacturer") || $("#manufacturer").serializeArray().map(function(item) {return item.value});
        let countries = localStorage.getItem("countries") || $("#countries").serializeArray().map(function(item) {return item.value});
        let ordering = localStorage.getItem("ordering") || $("#ordering").val();
        let category = localStorage.getItem("category");
        let tag = localStorage.getItem("tags");

        let manufacturer_page = localStorage.getItem("manufacturer");
        let loading = false;
        let footer = $('footer').height() - 100;

        send_ajax(page);
        filter_manufacturers_ajax();
        filter_countries_ajax();

        $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - footer) {
            if (!loading) {
                loading = true;
                page += 1;
                send_ajax(page);
                }
            }
        })

        $('.btn-reset-filter').attr('href', window.location.href)

        $(document).on('click', '#search-filter', function (e) {
            e.preventDefault()
            products.empty();
            send_ajax();
        })

        $(document).on('click', '.tags', function (e) {
            send_ajax(page);
            consle.log()
            filter_manufacturers_ajax(url=`{% url 'manufacturers' %}?tags={{tag.slug}}`)
        })



        function filter_manufacturers_ajax(url=`{% url 'manufacturers' %}?category={{title.slug}}`){
            $.ajax({
              url: url,
              method: 'GET',
              data: ({
                manufacturer: manufacturer,
              }),
              dataType: "json",
              contentType: "application/json",
              success: function(response_filter_manufacturer) {
                for (let i = 0; i < response_filter_manufacturer.length; i++){
                    let manufacturers_item = response_filter_manufacturer[i].name.replace(/[\(''\),]/g, "");
                    filter_manufacturer.append(`{% include 'catalog/filter_manufacturer.html' with name="${manufacturers_item}" %}`)
                }
                console.log(1, response_filter_manufacturer)
              },
              error: function(error_filter_manufacturer) {
                console.log(2, "error", error_filter_manufacturer)
              }
            });
        }


        function filter_countries_ajax(){

            $.ajax({
              url: `{% url 'manufacturers_countries' %}?category={{title.slug}}`,
              method: 'GET',
              data: ({
                manufacturer_countries: countries,
              }),
              dataType: "json",
              contentType: "application/json",
              success: function(response_filter_countries) {
                for (let i = 0; i < response_filter_countries.length; i++){
                    let countries_item = response_filter_countries[i].manufacturer_countries.replace(/[\(''\),]/g, "");
                    filter_countries.append(`{% include 'catalog/filter_countries.html' with country="${countries_item}" %}`)
                }
                console.log(response_filter_countries)
              },
              error: function(error_filter_countries) {
                console.log("error", error_filter_countries)
              }
            });
        }


         function send_ajax(page){
             let min_price = $("#min_price").val();
             let max_price = $("#max_price").val();
             const urlParams = new URLSearchParams(window.location.search);
             const manufacturer_name = urlParams.get('manufacturer_name');
             let manufacturers = $(".form_filter_manufacturer").serializeArray().map(function(item) {return item.value});
             if (manufacturer_name){
                manufacturers.push(manufacturer_name);
             }
             let countries = $(".form_filter_contry").serializeArray().map(function(item) {return item.value});
             let ordering = $("#id_ordering option:selected").val();
             let category = `{{title.slug}}`;
             let tag = `{{tag.slug}}`;

             let manufacturer_page = `{{manufacturer_page.slug}}`;
             localStorage.setItem("min_price", min_price);
             localStorage.setItem("max_price", max_price);
             localStorage.setItem("manufacturers", manufacturers);
             localStorage.setItem("countries", countries);
             localStorage.setItem("ordering", ordering);
             localStorage.setItem("category", category);
             localStorage.setItem("tag", tag);

             $.ajax({
                type: "GET",
                url: `{% url 'paginations'  %}`,
                data: {
                    min_price: min_price,
                    max_price: max_price,
                    manufacturers: manufacturers.join(','),
                    countries: countries.join(','),
                    ordering: ordering,
                    tags: tag,
                    manufacturer: manufacturer_page,
                    category: category,
                    page: page,
                },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    for (let i = 0; i < response.results.length; i++) {
                        let product_title = response.results[i].title;
                        let manufacturer = response.results[i].manufacturer.name
                        let countries = response.results[i].manufacturer_countries
                        let price = response.results[i].price
                        let stock = response.results[i].stock
                        let sale_price = response.results[i].sale_price;
                        let availability = response.results[i].availability
                        let sku = response.results[i].sku
                        let currency = response.results[i].currency.currency_sign
                        let quantity = response.results[i].quantity
                        let image = response.results[i].gallery_images[0].image
                        let alt = response.results[i].gallery_images[0].alt
                        let slug = response.results[i].slug
                        let id = response.results[i].id
                        let in_cart = response.results[i].in_cart
                        let in_favorites = response.results[i].in_favorites ? ' checked ' : ''
                        products.append(`{% include 'catalog/products.html' with title="${product_title}" manufacturer="${manufacturer}" manufacturer_countries="${countries}" price="${price}" price="${price}" stock="${stock}" sale_price="${sale_price}" currency="${currency}" availability="${availability}" sku="${sku}" image="${image}" alt="${alt}" slug="${slug}" id="${id}" in_cart="${in_cart}" in_favorites="${in_favorites}" %}`)
                        manufacturer_set.add(manufacturer)
                        countries_set.add(countries)
                    }

                    $('.product-add-to-cart').click(function(e){
                        e.preventDefault()
                        let cartCount = +($('.count-cart').text()) + 1
                        let p_id = $(this).attr('data-product-id')
                        let buttonAddToCart = $(this)
                        $.ajax({
                          url: `{% url 'add_to_cart' 0 %}`.replace(0, p_id),
                          method: 'POST',
                          data: JSON.stringify({
                            product_id: p_id,
                          }),
                          dataType: "json",
                          contentType: "application/json",
                          success: function(response2) {
                            $('.count-cart').text(cartCount)
                            buttonAddToCart.siblings('.in-cart').removeClass('d-none').addClass('d-flex');
                            buttonAddToCart.hide();
                            console.log("success" ,response2)
                          },
                          error: function(error2) {
                            console.log("error" ,error2)
                          }
                        });
                        $('.in-cart .btn').click(function(e){
                            e.preventDefault()
                            window.location.href = '/cart/';
                        });
                    })

                    $('.product-add-to-favorites').click(function(e){
                      const p_id = $(this).attr('data-product-id')
                      const url = `{% url 'favorites:favorites_toggle' 0 %}`.replace(0, p_id)
                      console.log(`fav: ${url}`)
                      $.ajax({
                          url: url,
                          method: 'GET',
                          success: function(response) {
                              $('.count-favorites').text()
                          }
                      })
                    })

                },
                error: function (response) {
                    console.log(9, response);
                }
             });
         }
         return false;
    });
</script>

<div class="container card-product-category-item mt-xl-5 mt-4">
  <div class="row d-lg-flex mt-xl-4">
      <div class="sidebar col-lg-4 col-xl-3">
          <div class="wrap-sidebar-title d-flex justify-content-between align-items-center mb-3 mb-xl-0">
                <h1 class="h1 h1-title">{% if tag.slug in request.path %}<a href="../../{{title.slug}}">{% endif %}{{title}}{% if tag.slug in request.path %}</a>{% endif %}{% if manufacturer.slug in request.path %}{{manufacturer.name}}{% endif %}</h1>
                <div class="mobile-filter-btn d-lg-none"><img src="{% static '/catalog/images/filter.png' %}" alt="filter"></div>
        </div>
          <div class="wrap-mobile-filter d-lg-block d-none">
        <div class="tags_filter">
            <ul class="p-0 my-4">
                {% for i in product_tags %}
                    {% if product_tags|length > 1  %}
                        {% for j in product_tags %}
                            {% if forloop.counter == 1 and not i.tags__parent %}

                                <li class="tags my-1 rounded-1 tags-parent tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}">
                                    <a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a>
                                </li>
                            {% endif %}
                            {% if j.tags__parent == i.tags__id %}
                                <ul class="p-0">
                                    <li class="tags my-1 rounded-1 tags-child tags-child-{{j.tags__parent__slug}} {% if j.tags__slug in request.path %}active{% endif %}"><a class="px-4 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{j.tags__slug}}">{{j.tags__tag}}</a></li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="tags rounded-1 tags-parent my-1 tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}"><a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        </div>
        <h5 class="my-3 h5-title form_filter h6-title">Фильтры</h5>
        <div class="d-flex justify-content-between mb-4">
            <input type="number" name="min_price" placeholder="от" class="form-control form-price" id="min_price">
            <input type="number" name="max_price" placeholder="до" class="form-control form-price" id="max_price">
        </div>
            <div>
                <div class="my-2 h6-title form_filter">Сортировать по:</div>
                <select class="form-select form-control" aria-label="Default select example" name="ordering" id="id_ordering">
                  <option value="title" selected>Алфавиту</option>
                  <option value="price">Цене min</option>
                  <option value="-price">Цене max</option>
                </select>
            </div>
          {% if not manufacturer.slug in request.path %}
            <div class="my-2 h6-title form_filter pt-3" >Производитель:</div>
            <div class="mb-4">
                <div class="d-flex flex-column" id="filter_manufacturer"></div>
            </div>
            <div class="my-2 h6-title form_filter">Страна:</div>
            <div class="mb-3">
                <div class="d-flex flex-column" id="filter_countries"></div>
            </div>
          {% else %}
          <br>
          {% endif %}
        <div class="btn-block d-flex justify-content-between py-3">

            <button class="btn btn-purple-dark px-4" type="submit" id="search-filter">Поиск</button>

            <a href="{{request.path}}" class="button btn btn-reset-filter d-block">Сбросить фильтр</a>

        </div>
      </div>
      <div class="col-lg-8 col-xl-9 col-md-12">
    <ul class="row px-0 products-catalog-category-list" id="products">

    </ul>
    </div>
  </div>
</div>
{% endblock %}