{% extends 'app/index.html' %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="container product-card my-5">
    <div class="row my-5">
        <div class="col-5">
            <div class="gallery row">
                {% for img in images %}
                {% if img.product_id == product.id and img.main_image %}
                    <div class="big col-12 mb-3">
                        <img src="/media/{{ img.image }}" alt="{{ img.alt }}" class="img-fluid img-thumbnail rounded d-block">
                    </div>
                {% endif %}
                    <div class="small col-3">
                        <a href="/media/{{ img.image }}" class="small-item {% if img.product_id == product.id and img.main_image %}active{% endif %}">
                            <img src="/media/{{ img.image }}" alt="{{ img.alt }}" class="img-fluid img-thumbnail rounded d-block">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-7">
            <div class="product-label d-flex align-items-center">
            {% if product.stock > 0 %}
                <p class="stock px-5">Акция -{{ product.stock }}</p>
            {% endif %}
            {% if product.hit_sales %}
                <p class="new px-5">Новинка</p>
            {% endif %}
            {% if product.new_product %}
                <p class="bestsellers px-5">Хит продаж</p>
            {% endif %}
            </div>
            <h1 class="h1 h1-title fw-bolder lh-1 mb-3">{{ product.title }}, <span> {{product.manufacturer.name}}, {{ product.manufacturer_countries }}</span></h1>
            <div class="product_info">
                <p class="description">{{ product.description }}</p>
                {% if product.sale_price %}
                <p class="sale-price fw-bolder fs-4">{{ product.sale_price}} <span> {{ product.currency.currency_sign }}</span></p>
                <p class="price text-decoration-line-through fw-bolder fs-4">{{ product.price }} <span> {{ product.currency.currency_sign }}</span></p>
                {% else %}
                <p class="price fw-bolder fs-4">{{ product.price }} <span> {{ product.currency.currency_sign }}</span></p>
                {% endif %}
                <p class="sku">Артикул: {{ product.sku }}</p>
                <p class="manufacturer-name ">Производитель: {{ product.manufacturer.name }}</p>
                <div class="row">
                    <p class="manufacturer-img col-lg-2 "><img src="/media/{{product.manufacturer.image}}" alt="{{product.manufacturer.alt}}" class="img-fluid"></p>
                </div>
                <p class="manufacturer_countries">Страна: {{ product.manufacturer_countries }}</p>
                <p class="unit_measure">Единица товара: {{ product.unit_measure }}</p>
                {% if product.quantity == 0 %}
<!--                <p class="availability-product">Под заказ</p>-->
                {% else %}
<!--                <p class="quantity">Количество товара на складе: {{ product.quantity }}</p>-->
                {% endif %}

                <div class="add-to-cart">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        <div class="form-wrapper d-flex align-items-center">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <div class=btn-wrapper">
                            <button class="btn btn-purple-dark" type="submit">В корзину</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row tabs-info">
        {% if product.restriction_sale %}
        <div class="col-12 border mx-2 mb-3 rounded">
            <p class="p-2">Частным (физическим лицам) продажа товаров данной категории не производится. Анестетики карпульные (растворы для инъекций) отпускаются только организациям строго при наличии лицензии на медицинскую деятельность и регистрации в Честном знаке.</p>
        </div>
        {% endif %}
        <div class="col-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Характеристики</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Описание</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="product_features p-3">
                    <p>Длина: {{ product.length }}</p>
                    <p>Ширина: {{ product.width }}</p>
                    <p>Высота: {{ product.height }}</p>
                    <p>Вес (г.): {{ product.weight }}</p>
                </div>
              </div>
              <div class="tab-pane fade p-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="descriotion">{{ product.description }}</div>
              </div>
            </div>
        </div>
    </div>
    <div class="row button-back">
        <div class="col-2">
            <a onclick="javascript:history.back(); return false" class="button btn return-store d-block">Назад</a>
        </div>
    </div>
</div>
{% endblock %}