{% extends 'app/index.html' %}
{% block title %}Каталог - {{title}}{% endblock %}


{% block content %}
<div class="container card-product-category-item mt-5">
    <div class="row d-flex mt-4">
    <div class="sidebar col-xl-3 col-md-2">
<!--        <ul class="subcategories-menu">-->

<!--            {% for i in cat_family %}-->
<!--                {% if i.level > 0 %}-->
<!--                    <li class="link{% if i == title %}active{% endif %}"><a href="../{{ i.slug }}">{{ i }}</a></li>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->

<!--            {% for i in cat_siblings %}-->
<!--                {% if i.level > 1 %}-->
<!--                    <li><a href="../{{ i.slug }}">{{ i }}</a></li>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        </ul>-->
        <div class="tags_filter">
            <h1 class="h1 h1-title">{% if tag.slug in request.path %}<a href="../../{{title.slug}}">{% endif %}{{title}}{% if tag.slug in request.path %}</a>{% endif %}</h1>
            <ul class="p-0 my-4">
                {% for i in product_tags %}
                    {% if product_tags|length > 1  %}
                        {% for j in product_tags %}
                            {% if forloop.counter == 1 and not i.tags__parent %}
                                <li class="tags my-1 rounded-1 tags-parent tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}">
                                    <a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a>
                                </li>
                            {% endif %}
                            {% if j.tags__parent == i.tags__id %}
                                <ul class="p-0">
                                    <li class="tags my-1 rounded-1 tags-child tags-child-{{j.tags__parent__slug}} {% if j.tags__slug in request.path %}active{% endif %}"><a class="px-4 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{j.tags__slug}}">{{j.tags__tag}}</a></li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="tags rounded-1 tags-parent my-1 tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}"><a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>


        </div>

        <h6 class="h6-title form_filter mb-4">Цена:</h6>
        <form action="" method="get" class="form_filter">
            {% csrf_token %}
            {{ form.as_p }}
<!--            <input  type="submit" value="Поиск">-->
            <button class="btn btn-purple-dark mb-5 mt-3 px-4" type="submit">Поиск</button>
        </form>
    </div>
        <div class="col-xl-9 col-md-10">
    <ul class="row">
        {% for product in object_list %}
        <li class="col-xl-4 col-md-6 col-sm-12 mb-5">
            <a href="{% if tag.slug in request.path %}../{% endif %}products/{{ product.slug }}">
                <div class="card">
                    <div class="card-img img-wrapper overflow-hidden">
                        {% for img in images %}
                        {% if img.product_id == product.id and img.main_image %}
                        <img src="/media/{{ img.image }}" alt="{{ img.alt }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body fs-5 p-2 lh-sm d-flex flex-column bd-highlight border-top">
                        <h5 class="h5 card-product-category-item-title">{{ product.title }}</h5>
                        <h6 class="h6 card-product-category-item-title">{{product.manufacturer.name}}, {{ product.manufacturer_countries }}</h6>
                        {% if product.sale_price %}
                        <p class="card-product-category-item-sale-price fw-bolder">{{ product.sale_price}}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        <p class="card-product-category-item-price text-decoration-line-throug">{{ product.price }}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        {% else %}
                        <p class="card-product-category-item-price fw-bolder">{{ product.price }}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        {% endif %}
                        {% if product.quantity > 0 %}
<!--                        <p class="availability">В наличии</p>-->
                        {% else %}
<!--                        <p class="availability">Под заказ</p>-->
                        {% endif %}
                        <p class="card-product-category-item-sku mb-0">Артикул: {{ product.sku }}</p>
                        <div class="add-to-cart product-list-off">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                <div class="form-wrapper d-flex align-items-center mt-2">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <div class=btn-wrapper">
                                    <button class="btn btn-purple-dark" type="submit">В корзину</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
            </div>
        </div>
</div>
{% endblock %}