{% extends 'app/index.html' %}
{% load static %}
{% block title %}Каталог - {{title}}{% endblock %}


{% block content %}
<div class="container card-product-category-item mt-xl-5 mt-4">
    <div class="row d-lg-flex mt-xl-4">
    <div class="sidebar col-lg-4 col-xl-3">
<!--        <ul class="subcategories-menu">-->

<!--            {% for i in cat_family %}-->
<!--                {% if i.level > 0 %}-->
<!--                    <li class="link{% if i == title %}active{% endif %}"><a href="../{{ i.slug }}">{{ i }}</a></li>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->

<!--            {% for i in cat_siblings %}-->
<!--                {% if i.level > 1 %}-->
<!--                    <li><a href="../{{ i.slug }}">{{ i }}</a></li>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        </ul>-->
        <div class="wrap-sidebar-title d-flex justify-content-between align-items-center mb-3 mb-xl-0">
                <h1 class="h1 h1-title">{% if tag.slug in request.path %}<a href="../../{{title.slug}}">{% endif %}{{title}}{% if tag.slug in request.path %}</a>{% endif %}</h1>
                <div class="mobile-filter-btn d-lg-none"><img src="{% static '/catalog/images/filter.png' %}" alt="filter"></div>
        </div>
        <div class="wrap-mobile-filter d-lg-block d-none">
        <div class="tags_filter">
            <ul class="p-0 my-4">
                {% for i in product_tags %}
                    {% if product_tags|length > 1  %}
                        {% for j in product_tags %}
                            {% if forloop.counter == 1 and not i.tags__parent %}
                                <li class="tags my-1 rounded-1 tags-parent tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}">
                                    <a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a>
                                </li>
                            {% endif %}
                            {% if j.tags__parent == i.tags__id %}
                                <ul class="p-0">
                                    <li class="tags my-1 rounded-1 tags-child tags-child-{{j.tags__parent__slug}} {% if j.tags__slug in request.path %}active{% endif %}"><a class="px-4 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{j.tags__slug}}">{{j.tags__tag}}</a></li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="tags rounded-1 tags-parent my-1 tags-{{i.tags__slug}} {% if i.tags__slug in request.path %}active{% endif %}"><a class="p-2 rounded-1" href="{% if tag.slug in request.path %}../{% endif %}{{i.tags__slug}}">{{i.tags__tag}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <h5 class="my-3 h5-title form_filter h6-title">Фильтры</h5>
        <form action="" method="get" class="form_filter">
            {% csrf_token %}
            <div class="my-2 h6-title form_filter">Цена:</div>
            <div class="d-flex justify-content-between mb-4">{{ form.min_price }} {{ form.max_price }}</div>
            <div class="my-2 h6-title form_filter">Сортировать по:</div>
            <div class="mb-4">{{ form.ordering }}</div>
            <div class="my-2 h6-title form_filter">Производитель:</div>
            <div class="mb-4">
            {% for i in form.manufacturer %}
                {% for j in products_manufacturers %}
                    {% if i.choice_label == j.manufacturer__name %}
                        <div>{{i}}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
            <div class="my-2 h6-title form_filter">Страна:</div>
            <div class="mb-3">
            {% for i in form.countries %}
                {% for j in products_manufacturer_countries %}
                    {% if i.choice_label == j.manufacturer_countries %}
                        <div>{{i}}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
            <div class="btn-block d-flex justify-content-between py-3">
            <button class="btn btn-purple-dark px-4" type="submit">Поиск</button>
            <a href="{{request.path}}" class="button btn btn-reset-filter d-block">Сбросить фильтр</a>
            </div>
        </form>
        </div>
    </div>
    <div class="col-lg-8 col-xl-9 col-md-12">
    <ul class="row px-0 products-catalog-category-list">
        {% if object_list %}
        {% for product in object_list %}
        <li class="col-xl-4 col-sm-6 col-12 mb-4">
            <a href="{% if tag.slug in request.path %}../{% endif %}products/{{ product.slug }}">
                <div class="card">
                    <div class="card-img img-wrapper overflow-hidden">
                        {% for img in images %}
                        {% if img.product_id == product.id and img.main_image %}
                        <img src="/media/{{ img.image }}" alt="{{ img.alt }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body fs-5 p-2 lh-sm d-flex flex-column bd-highlight border-top">
                        <h5 class="h5 card-product-category-item-title overflow-hidden">{{ product.title }}</h5>
                        <h6 class="h6 card-product-category-item-title">{{product.manufacturer.name}}, {{ product.manufacturer_countries }}</h6>
                        {% if product.sale_price %}
                        <p class="card-product-category-item-sale-price fw-bolder">{{ product.sale_price}}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        <p class="card-product-category-item-price text-decoration-line-throug">{{ product.price }}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        {% else %}
                        <p class="card-product-category-item-price">{{ product.price }}<span class="product-currency"> {{ product.currency.currency_sign }}</span></p>
                        {% endif %}
                        {% if product.quantity > 0 %}
<!--                        <p class="availability">В наличии</p>-->
                        {% else %}
<!--                        <p class="availability">Под заказ</p>-->
                        {% endif %}
                        <p class="card-product-category-item-sku mb-0">Артикул: {{ product.sku }}</p>
                        <div class="add-to-cart product-list-off">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="add-to-cart-ajax">
                                <div class="form-wrapper d-flex align-items-center mt-2">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <div class=btn-wrapper">
                                    <button class="btn btn-purple-dark add-cart list-products" type="submit">В корзину</button>
                                    <div class="in-cart d-none align-items-center">
                                        <button type="button" class="btn btn-cold-lilac" data-bs-toggle="tooltip" data-bs-placement="top" title="Перейти в корзину">В корзине</button>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        {% else %}
            <p class="">По вашему запросу товаров не найдено</p>
        {% endif %}
    </ul>
            </div>
        </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous">
</script>
{% csrf_token %}
<script>
    $( document ).ready(function() {
        function getCookie(с_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start !== -1){
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end === -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        let input = document.querySelector('input[name="csrfmiddlewaretoken"]');
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': input.value,
            }
        });

        let products = $("#products");
        let page = localStorage.getItem("page") || 1;
        let min_price = localStorage.getItem("min_price") || $("#min_price").val();
        let max_price = localStorage.getItem("max_price") || $("#max_price").val();
        let loading = false;
        let footer = $('footer').height() - 100;

        send_ajax(page);

        $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - footer) {
            if (!loading) {
                loading = true;
                page += 1;
                send_ajax(page);
                }
            }
        })

        $(document).on('click', '#search-filter', function (e) {
            e.preventDefault()
            products.empty();
            send_ajax()
        })


         function send_ajax(page){
             let min_price = $("#min_price").val();
             let max_price = $("#max_price").val();
             localStorage.setItem("min_price", min_price);
             localStorage.setItem("max_price", max_price);
             $.ajax({
                type: "GET",
                url: `{% url 'paginations'  %}`,
                data: {
                    min_price: min_price,
                    max_price: max_price,
                    page: page,
                },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    for (let i = 0; i < response.results.length; i++) {
                        let product_title = response.results[i].title;
                        let manufacturer = response.results[i].manufacturer.name
                        let countries = response.results[i].manufacturer_countries
                        let price = response.results[i].price
                        let stock = response.results[i].stock
                        let sale_price = response.results[i].sale_price;
                        let availability = response.results[i].availability
                        let sku = response.results[i].sku
                        let currency = response.results[i].currency.currency_sign
                        let quantity = response.results[i].quantity
                        let image = response.results[i].gallery_images[0].image
                        let alt = response.results[i].gallery_images[0].alt
                        let slug = response.results[i].slug
                        let id = response.results[i].id
                        let in_cart = response.results[i].in_cart
                        products.append(`{% include 'catalog/products.html' with title="${product_title}" manufacturer="${manufacturer}" manufacturer_countries="${countries}" price="${price}" price="${price}" stock="${stock}" sale_price="${sale_price}" currency="${currency}" availability="${availability}" sku="${sku}" image="${image}" alt="${alt}" slug="${slug}" id="${id}" in_cart="${in_cart}" %}`)
                        console.log(response)
                    }

                    $('.product-add-to-cart').click(function(e){
                        e.preventDefault()
                        let cartCount = +($('.count-cart').text()) + 1
                        let p_id = $(this).attr('data-product-id')
                        let buttonAddToCart = $(this)
                        $.ajax({
                          url: `{% url 'add_to_cart' 0 %}`.replace(0, p_id),
                          method: 'POST',
                          data: JSON.stringify({
                            product_id: p_id,
                          }),
                          dataType: "json",
                          contentType: "application/json",
                          success: function(response2) {
                            $('.count-cart').text(cartCount)
                            buttonAddToCart.siblings('.in-cart').removeClass('d-none').addClass('d-flex');
                            buttonAddToCart.hide();
                            console.log("success" ,response2)
                          },
                          error: function(error2) {
                            console.log("error" ,error2)
                          }
                        });
                        $('.in-cart .btn').click(function(e){
                            e.preventDefault()
                            window.location.href = '/cart/';
                        });

                    })

                },
                error: function (response) {
                    console.log(response);
                }
             });
         }
         return false;
    });
</script>

<div class="container card-product-category-item mt-xl-5 mt-4">
  <div class="row d-lg-flex mt-xl-4">
      <div class="sidebar col-lg-4 col-xl-3">
        <h5 class="my-3 h5-title form_filter h6-title">Фильтры</h5>
        <div class="d-flex justify-content-between mb-4">
            <input type="number" name="min_price" placeholder="от" class="form-control form-price" id="min_price">
            <input type="number" name="max_price" placeholder="до" class="form-control form-price" id="max_price">
        </div>
            <div>
                <div class="my-2 h6-title form_filter">Сортировать по:</div>
                <select class="form-select form-control" aria-label="Default select example" name="ordering" id="id_ordering">
                  <option value="title">Алфавиту</option>
                  <option value="price">Цене min</option>
                  <option value="-price">Цене max</option>
                </select>
            </div>
            <div class="my-2 h6-title form_filter">Производитель:</div>
            <div class="mb-4">
            {% for i in manufacturer %}
                <div>{{i}}</div>
            {% endfor %}
            </div>
            <div class="my-2 h6-title form_filter">Страна:</div>
            <div class="mb-3">
            {% for i in form.countries %}
                {% for j in products_manufacturer_countries %}
                    {% if i.choice_label == j.manufacturer_countries %}
                        <div>{{i}}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>

        <div class="btn-block d-flex justify-content-between py-3">

            <button class="btn btn-purple-dark px-4" type="submit" id="search-filter">Поиск</button>
            <a href="{{request.path}}" class="button btn btn-reset-filter d-block">Сбросить фильтр</a>
        </div>
      </div>
      <div class="col-lg-8 col-xl-9 col-md-12">
    <ul class="row px-0 products-catalog-category-list" id="products">

    </ul>
    </div>
  </div>
<script>
    $( document ).ready(function() {
        function addToCart(product_id){
            console.log(product_id)
        }
        $('.product-add-to-cart').click(function(){
            console.log(111)
        })
    });
</script>


</div>
{% endblock %}