{% extends 'app/index.html' %}
{% load static  %}
 
{% block title %}
    Заказать
{% endblock %}
 
{% block content %}
<div class="container order-create">
    <div class="row">
        <div class="col-12">
            <h1 class="h1 h1-title py-4 py-md-5">Оформление заказа</h1>
        </div>
    </div>
    <div class="d-md-flex mb-5">
        <div class="col-md-6 mb-3">
            <div>
                <div class="col-lg-10 col-md-11 p-4 p-xl-5 wrapper-order-form rounded">
                    <form action="." method="post" class="order-form">
                        {{ form.as_p }}
                        <div class="privacy-policy pb-5"><a href="{% url 'privacy_policy' %}">Ознакомиться с условиями обработки персональных данных</a></div>
                        <div class=btn-wrapper">
                            <button class="btn btn-purple-dark" type="submit">Отправить</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="order-info">
                <h3 class="h3 h3-title pb-2">Ваш заказ:</h3>
                <ul>
                    {% for item in cart %}
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-6 border">{{ item.product.title }}</div>
                        <div class="col-lg-3 col-md-2 col-3 border">{{ item.quantity }} {{ item.product.unit_measure }}</div>
                        <div class="col-3 border">{{ item.total_price }} {{ item.product.currency.currency_sign }}</div>
                    </div>
                    {% endfor %}
                </ul>
                <p class="pb-3">Общая сумма заказа: {{ cart.get_total_price }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}