{% extends 'app/index.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

<div class="container p-3">
    <h2 class="h2-title pt-3">О нас</h2>
    <p>Добро пожаловать в Dental Store Online – вашего надежного партнера в мире стоматологии.</p>
    <p>Мы, в Dental Store Online, стремимся обеспечить профессионалов стоматологической отрасли всем необходимым для их бесперебойной и качественной работы. В нашем ассортименте вы найдете широкий выбор товаров для стоматологии, каждый из которых был тщательно отобран с учетом потребностей современной стоматологической практики.</p>
    <h2 class="h2-title pt-3">Наша миссия</h2>
    <p>Мы понимаем, насколько важно для стоматологических клиник и частных практиков иметь доступ к проверенному и надежному оборудованию и материалам. Именно поэтому наша миссия – предложить вам не просто продукцию, а решение, которое поможет повысить качество оказываемых услуг и удовлетворенность ваших пациентов.</p>
    <h2 class="h2-title pt-3">Наши преимущества</h2>
    <p>Большой ассортимент товаров для стоматологии. Наш каталог содержит все необходимое для комплексного оснащения стоматологической клиники.</p>
    <p>Проверенное качество. Мы сотрудничаем только с проверенными производителями и поставщиками, чья продукция соответствует международным стандартам качества и безопасности.</p>
    <p>Оперативная доставка. Зная, насколько важно вам получать заказы в срок, мы обеспечиваем оперативную и надежную доставку. </p>
    <p>Лучшие условия для сотрудничества. Мы предлагаем гибкие условия для сотрудничества, включая специальные предложения и программы лояльности для наших постоянных клиентов.</p>
    <h2 class="h2-title pt-3">Почему выбирают нас?</h2>
    <p>Выбирая Dental Store Online, вы получаете не только качественную продукцию, но и поддержку на всех этапах сотрудничества. Наша команда готова предоставить профессиональную консультацию, помочь с выбором товаров и обеспечить быструю обработку и доставку вашего заказа.</p>
    <p>Мы стремимся к тому, чтобы каждый наш клиент был удовлетворен сотрудничеством с нами, и постоянно работаем над улучшением качества наших услуг и расширением ассортимента предлагаемой продукции.</p>
    <h2 class="h2-title pt-3">Присоединяйтесь к нам</h2>
    <p>Станьте частью нашего партнерства уже сегодня и откройте для себя все преимущества работы с Dental Store Online. Мы гарантируем, что ваш опыт сотрудничества с нами будет выгодным и приятным. </p>
    <p>Свяжитесь с нами для получения дополнительной информации или начните выбор продукции прямо сейчас, посетив наш каталог на сайте. Ваш успех начинается здесь!</p>
    <div class="col-3 col-md-2 my-2">
        <a href="/catalog" class="button btn return-store d-block">В каталог</a>
        <a href="javascript:history.back()" class="button btn return-store d-block my-2">Назад</a>
    </div>
</div>
{% endblock %}