<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}Dentalstore{% endblock %}</title>
    <link rel="stylesheet icon" href="{% static '/app/images/favicon.ico' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static '/app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/app/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static '/app/css/style.css' %}">
    {% bootstrap_javascript %}
</head>
<body>
    <div class="page-wrapper d-flex min-vh-100 flex-column overflow-hidden">


<!--header-->
<header class="p-2 border-bottom header" id="header">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light align-items-start">
<!--      <div class="container">-->
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none xl-col-2">
            <img class="logo-img" src="{% static '/app/images/svglogo.svg' %}">
        </a>
        <button class="navbar-toggler mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header-wrap col-lg-10 col-12">
        <div class="collapse navbar-collapse align-items-start" id="navbarNavAltMarkup">
          <div class="navbar-nav col-12 col-xl-9 col-lg-8 justify-content-lg-evenly mb-2 mb-lg-0 align-items-center">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
            <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
            <a class="nav-link" href="{% url 'delivery' %}">Доставка и оплата</a>
            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
           </div>
           <div class="navbar-nav col-12 col-xl-1 col-lg-2 justify-content-xl-center justify-content-lg-center justify-content-xl-end">
            <div class="cart col-12 col-lg-2 d-flex justify-content-center header-counter">
              {% with total_items=cart|length %}
              <a class="ps-lg-3 px-2 link-header-img" href="{% url 'cart:cart_detail' %}">

                    <div class="text-center header-counter-item count-cart">{% if cart|length > 0 %}{{ total_items }}{% endif %}</div>

                  <img class="pb-2" src="{% static '/app/images/shopping-cart.png' %}" alt='Корзина'>
              </a>
              {% endwith %}
              <a class="favorites-link ps-lg-3 px-1 link-header-img" href="{% url 'favorites:favorites_detail' %}">
                    <div class="text-center header-counter-item count-favorites">{% if favorites|length > 0 %}{{ favorites|length }}{% endif %}</div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 15 15"><path fill="#0d6efd" d="M4.036 1a4.036 4.036 0 0 0-2.854 6.89l5.964 5.964a.5.5 0 0 0 .708 0l5.964-5.965a4.036 4.036 0 0 0-5.707-5.707l-.611.61l-.61-.61A4.036 4.036 0 0 0 4.035 1"/></svg></a>
            </div>
               </div>
               <div class="navbar-nav col-12 col-xl-2 col-lg-2 justify-content-lg-center justify-content-xl-end">
            <div class="header-contacts text-center">
                <div class="link-messangers d-flex justify-content-center">
                    <a  href="https://t.me/+79999683506" class="telegram-link"><img class="link-messangers-item px-2" src="{% static '/app/images/telegram.png' %}" alt="Написать в Telegram"></a>
                    <a href="https://wa.me/+79999683506" class="whatsapp-link"><img class="link-messangers-item px-2" src="{% static '/app/images/whatsapp.png' %}" alt="Написать в Whatsapp"></a>
                </div>
            </div>
          </div>
        </div>
<!--      </div>-->
        <div class="d-flex justify-content-lg-end col-12 mt-lg-1 mt-3 pl-5 flex-column flex-md-row">
            <div class="d-flex col-md-9 col-lg-8 col-12">
                <input type="text" id="string-search" placeholder="Что хотите найти?" class="form-control me-2"/>
                <input type="button" id="btn-search" value="Поиск" class="btn"/>
            </div>
            <div class="link-phone col-md-3 col-12 text-md-end text-lg-center text-xl-end text-start pt-3 pt-md-1">
                <a href="tel:+79999683506">+7 (999) 968-35-06</a>
            </div>
        </div>
        </div>
    </nav>
    </div>
    </header>
<div class="search-res popup p-0">
    <div class="container">
        <div class="row search-scroll">
            <div id="search-res"></div>
        </div>
    </div>
    <div class="overlay"></div>
</div>

<!--header end-->
    {% block breadcrumb %}
    {% endblock %}

    {% block content %}
    {% endblock %}


<footer class="footer">
<div class="container">
    <div class="link-up"><a href="#top" id="back-to-top" class="back-to-top" title="Back to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke-width="2"><path stroke="#4b5196" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" clip-rule="evenodd"/><path fill="#b3baff" stroke="#4b5196" stroke-linejoin="round" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z"/><path stroke="#4b5196" stroke-linecap="round" stroke-linejoin="round" d="M33 27L24 18L15 27"/></g></svg>
    </a></div>
<div class="row justify-content-center">
<div class="col-md-12 text-center">
<h2 class="footer-heading my-5 "><a href="/" class="d-flex align-items-center justify-content-center mb-lg-0 link-body-emphasis text-decoration-none">
                    <img class="logo-img" src="{% static '/app/images/svglogo.svg' %}">
                </a>
</h2>
<div class="row footer-menu d-flex w-xl-100">
<ul class="d-flex w-xl-30 flex-column align-items-start col-lg-auto me-lg-auto mb-xl-2 mb-3 mb-md-3 mb-xl-0 col-12 col-md-6">
    <li><a href="{% url 'home' %}" class="nav-link px-xl-2 link-secondary">Главная</a></li>
    <li><a href="{% url 'catalog' %}" class="nav-link px-xl-2 link-body-emphasis">Каталог</a></li>
    <li><a href="{% url 'delivery' %}" class="nav-link px-xl-2 link-body-emphasis">Доставка и оплата</a></li>
    <li><a href="{% url 'contacts' %}" class="nav-link px-xl-2 link-body-emphasis">Контакты</a></li>
</ul>
<ul class="footer-social d-flex flex-column w-xl-30 align-items-start col-lg-auto me-lg-auto mb-xl-2 mb-3 mb-md-3 mb-xl-0 col-12 col-md-6">
    <li><div class="footer-link-phone"><a href="tel:+79999683506" class="link-body-emphasis nav-link p-xl-2 ">+7 (999) 968-35-06</a></div></li>
    <li><a  href="https://t.me/+79999683506" class="telegram-link nav-link px-xl-2  link-body-emphasis">Telegram</a></li>
    <li><a href="https://wa.me/+79999683506" class="whatsapp-link nav-link px-xl-2  link-body-emphasis">Whatsapp</a></li>
</ul>
<ul class="footer-social d-flex flex-column w-xl-50 align-items-start col-lg-auto me-lg-auto mb-2 mb-md-0 col-12">
    <li><h6 class="h6 mb-0">Мы находимся по адресу:</h6></li>
    <li><div class="font-weight-normal text-start">МО, г. Реутов, Юбилейный проспект дом 66</div></li>
</ul>
</div>

</div>
</div>
<div class="row mt-5">
<div class="col-md-12 text-center">
<p class="copyright">
© Copyright  2023
</p>
</div>
</div>
</div>
</footer>
    </div>
<script src="{% static 'static_jquery/js/jquery.js' %}"></script>
<script src="{% static '/app/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/app/js/main.js' %}"></script>
<script>
let search_page = 1
let search_loading = false
let add_fav = Date.now()
const getProductsContainer = () => {
    let container = document.getElementById('search-products')
    if (container !== null) {
        return $("#search-products")
    }
    container = document.createElement('ul')
    container.classList.add('row', 'px-0', 'products-catalog-category-list');
    container.id = 'search-products';
    parentContainer = document.getElementById("search-res")
    if (parentContainer) {
        parentContainer.innerHTML = ''
        parentContainer.appendChild(container)
        return $("#search-products")
    }
}

const getSearchPage = (page=1) => {
    $.ajax({
        url: `{% url 'product_search' %}`,
        type: 'GET',
        data: {q: $("#string-search").val(), page: page},
        dataType: 'json',
        success: function(response) {
            console.log('success', response)
            products = getProductsContainer()
            if (response.results.length == 0) {
                products.text('По вашему запросу ничего не найдено')
            }
            for (let i = 0; i < response.results.length; i++) {
                product = response.results[i]
                console.log('appending ', product.title)
                console.log('response');
                products.append(`{% include 'catalog/search-result.html' with title="${product.title}"  category_slug="${product.category.slug}" manufacturer="${product.manufacturer.name}" manufacturer_countries="${product.manufacturer_countries}" price="${product.price}" stock="${product.stock}" sale_price="${product.sale_price}" currency="${product.currency.currency_sign}" availability="${product.availability}" sku="${product.sku}" image="${product.gallery_images[0].image}" alt="${product.gallery_images[0].alt}" slug="${product.slug}" id="${product.id}" in_cart="${product.in_cart}" in_favorites="${product.in_favorites ? 'checked' : ''}" %}`)
            }
            search_loading = false

            $('.product-add-to-cart').click(function(e){
                e.preventDefault()
                let cartCount = +($('.count-cart').text()) + 1
                let p_id = $(this).attr('data-product-id')
                let buttonAddToCart = $(this)
                console.log(p_id)
                $.ajax({
                  url: `{% url 'add_to_cart' 0 %}`.replace(0, p_id),
                  method: 'POST',
                  data: JSON.stringify({
                    product_id: p_id,
                  }),
                  dataType: "json",
                  contentType: "application/json",
                  success: function(response2) {
                    $('.count-cart').text(cartCount)
                    buttonAddToCart.siblings('.in-cart').removeClass('d-none').addClass('d-flex');
                    buttonAddToCart.hide();
                    console.log("success" ,response2)
                  },
                  error: function(error2) {
                    console.log("error", error2)
                  }
                });
                $('.in-cart .btn').click(function(e){
                    e.preventDefault()
                    window.location.href = '/cart/';
                });
            })

            $('.heart-wrap').click(function(e){
                if (Date.now() - add_fav < 1000) return
                add_fav = Date.now()
                const p_id = $(this).attr('data-product-id')
                let url = null
                if (document.getElementById(`favorites-${p_id}`).checked) {
                url = `{% url 'favorites:favorites_remove' 0 %}`.replace(0, p_id)
                } else {
                url = `{% url 'favorites:favorites_add' 0 %}`.replace(0, p_id)
                }
                console.log(`fav: ${url}`)
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(response) {
                        $('.count-favorites').text(response.count)
                    }
                })
            })

        },
        error: function(response) {
            console.log('err', response)
        }
    })
}

const search = () => {
    products = getProductsContainer()
    products.empty()
    getSearchPage(1)
    let header = $('.header').height() + 50;
    $('.search-res.popup').show();
    $('body').css('overflow', 'hidden');
    $('.search-scroll').css('padding-top', header);
}

$( document ).ready(function() {
    $('.search-res.popup').hide();
    $('#btn-search').click(function(){
        search()
    })
    $('#string-search').keypress(function(e) {
        if (e.which === 13) {
            search();
        }
    });

    $('.overlay').click(function(){
        $('.search-res.popup').hide();
        $('body').css('overflow', 'auto');
    })

    $(".search-res.popup").scroll(function() {
        let charge = ($("#search-res").height() - $("#search-res").scrollTop() > $(window).height())
        console.log(
            'scroll: ',
            $("#search-res").height(),
            ' - ',
            $("#search-res").scrollTop(),
            ' > ',
            $(window).height(),
            search_loading,
        )
        let search_res = $("#search-res");
        let offset = search_res.offset().top;
        let height = search_res.height();
        let scroll = $(window).scrollTop();
        let windowHeight = $(window).height();
        if (offset + height <= scroll + windowHeight) {
        // if ($("#search-res").height() - $("#search-res").scrollTop() > $(window).height()) {
            if (!search_loading) {
                search_loading = true;
                search_page += 1;
                console.log('Loading: ', search_page)
                getSearchPage(search_page);
                }
            }
    })



    $('.product-add-to-favorites').click(function(e){
        if (Date.now() - add_fav < 1000) return
        add_fav = Date.now()
        const p_id = $(this).attr('data-product-id')
        let url = null
        if (document.getElementById(`favorites-${p_id}`).checked) {
        url = `{% url 'favorites:favorites_remove' 0 %}`.replace(0, p_id)
        } else {
        url = `{% url 'favorites:favorites_add' 0 %}`.replace(0, p_id)
        }
        console.log(`fav: ${url}`)
        $.ajax({
            url: url,
            method: 'GET',
            success: function(response) {
                $('.count-favorites').text(response.count);
            }
        })
    })
    
})
</script>
</body>
</html>