{% extends 'app/index.html' %}

{% block title %}Сертификаты{% endblock %}

{% block content %}

<div class="container p-3">
    <h2 class="h2-title mb-5 pt-3">Сертификаты</h2>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0001.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0002.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0003.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0004.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0005.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0006.jpg"></div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4"><img class="mw-100" src="/media/pdf/sertif-img-0007.jpg"></div>
    </div>
    <div class="col-3 my-4 col-md-2">
        <a href="javascript:history.back()" class="button btn return-store d-block">Назад</a>
    </div>
</div>
{% endblock %}