{% extends 'app/index.html' %}

{% block title %}Сертификаты{% endblock %}

{% block content %}

<div class="container p-3">
    <h2 class="h2-title pt-3">Сертификаты</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nobis nisi accusamus assumenda vero deleniti enim expedita iure nostrum architecto perferendis,
        molestiae totam dignissimos sed distinctio velit, quidem ratione, esse voluptatibus.  </p>
    <div class="col-3 col-md-2">
        <a href="javascript:history.back()" class="button btn return-store d-block">Назад</a>
    </div>
</div>
{% endblock %}